#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 1em;
  margin-bottom: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  text-align: start;

  p {
    margin: 0 0 .5rem 0;
  }
}

.card__created_at {
  color: #888;
  font-size: .8rem;
}
