.cards {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card {
  padding: 1em;
  border: 1px solid var(--dark);
  border-radius: 16px;
  text-align: start;

  p {
    margin: 0 0 .5rem 0;
  }
}

.card__created_at {
  font-size: .8rem;
}

.app {
  max-width: 56rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 900px) {
    padding: 0;
  }
}

header {
  padding: 1rem 0;
  align-self: end;
}
